div.fonts__content.is-active

  div.font
    div.font__head
      div.font-title
        a(href='#').font-title__link Matilda
        span by <a href='#' class='font-title__author'>Debut Studio</a>
          a(href='#').font-title__arrow-link
            img(src=require('../../media/icon-link.png'))
      div.font-script
        span in <a href='#' class='font-script__link'>Script</a> <a href='#' class='font-script__link'>Calligraphy</a>
    div.font__content
      div.font-logo
        a.font-logo__link(href='#')
          img.font-logo__img(src=require('../../media/font.png'))
      div.font-download
        div.quatity
          span.quatity__sum 139,773 downloads
          span.quatity__text Public domain, GPL, OFL
        div.font-download__btn
          a(href='#').btn Download
          a(href='#').btn.transparent Donate to author

  div.font
    div.font__head
      div.font-title
        a(href='#').font-title__link Brigest Script
        span by <a href='#' class='font-title__author'>R Studio</a>
      div.font-script
        span in <a href='#' class='font-script__link'>Script</a> <a href='#' class='font-script__link'>Calligraphy</a>
    div.font__content
      div.font-logo
        a.font-logo__link(href='#')
          img.font-logo__img(src=require('../../media/font2.png'))
      div.font-download
        div.quatity
          span.quatity__sum 1,123 downloads
          span.quatity__text Demo
        div.font-download__btn
          a(href='#').btn Download
          btn.btn.transparent Donate to author

  div.font
    div.font__head
      div.font-title
        a(href='#').font-title__link Kodinah Diary
        span by <a href='#' class='font-title__author'>Debut Studio</a>
          a(href='#').font-title__arrow-link
            img(src=require('../../media/icon-link.png'))
      div.font-script
        span in <a href='#' class='font-script__link'>Script</a> <a href='#' class='font-script__link'>Calligraphy</a>
    div.font__content
      div.font-logo
        a.font-logo__link(href='#')
          img.font-logo__img(src=require('../../media/font3.png'))
      div.font-download
        div.quatity
          span.quatity__sum 17,585 downloads
          span.quatity__text Free for Personal Use
        div.font-download__btn
          a(href='#').btn Download
          btn.btn.transparent Donate to author

  div.font
    div.font__head
      div.font-title
        a(href='#').font-title__link Perfect Sweet
        span by <a href='#' class='font-title__author'>R Studio</a>
      div.font-script
        span in <a href='#' class='font-script__link'>Script</a> <a href='#' class='font-script__link'>Calligraphy</a>
    div.font__content
      div.font-logo
        a.font-logo__link(href='#')
          img.font-logo__img(src=require('../../media/font4.png'))
      div.font-download
        div.quatity
          span.quatity__sum 1,123 downloads
          span.quatity__text Demo
        div.font-download__btn
          a(href='#').btn Download
          btn.btn.transparent Donate to author