extends ../base
block title
  |Fontsly
block main
  main.main.is-1-inner
    div.container
      div.banner
        a(href='#').banner__link
          img(src=require('../../media/banner.png')).banner__img
      div.filters
        div.filters__top
          div.filters__head
            div.filters__left
              h1 Champagne & Limousines
              div.raiting
                div.rateit(data-rateit-value='3.5', data-rateit-resetable='false')
            div.filters__right
              div.social-likes
                div.twitter(title='Share link to Facebook') Tweet
                div.facebook(title='Share link to Facebook') Share
                div.pinterest(title='Share link to Facebook') Pin it
        div.filters__bottom
          form.filters__form(method='post', action='#')
            div.preview-text
              input.preview-text__input(type='text', placeholder='Type your text here')
            div.select
              select
                option(value='xs') Tiny
                option(value='s') Small
                option(value='m' selected) Medium
                option(value='l') Large
            div.colorpicker
              input.colorpicker__input.minicolors(placeholder='HEX Color' size='7')
            div.filters__btn
              input(type='submit' value='Update').btn
              input(type='reset' value='Clear').btn
            div.filters__action
              button.btn-prev
                span.icon.is-arrow-prev
                span Previous Font
              button.btn-prev
                span Next Font
                span.icon.is-arrow-next
        div.font
          div.font__head
            div.font-title
              a(href='#').font-title__link Champagne & Limousines
              span by <a href='#' class='font-title__author'>Debut Studio</a>
                a(href='#').font-title__arrow-link
                  img(src=require('../../media/icon-link.png'))
            div.font-script
              span in <a href='#' class='font-script__link'>in Basic</a> <a href='#' class='font-script__link'>Sans serif</a>
          div.font__content
            div.font-logo
              img.font-logo__img(src=require('../../media/font5.png'))
            div.font-download
              div.quatity
                span.quatity__sum 139,773 downloads
                span.quatity__text Public domain, GPL, OFL
              div.font-download__btn
                a(href='#').btn Download
                btn.btn.transparent Donate to author
      div.banner
        a(href='#').banner__link
          img(src=require('../../media/banner2.png')).banner__img
      div.note
        span Note of the author
        p This font is FREE FOR PERSONAL USE only. We do appreciate your support by donating as much as you wish to.
          br
          a paypal.me/uloel
        p FULL VERSION & LINK TO PURCHASE ANY KIND OF THE COMMERCIAL LICENSE
          br
          a https://fontbundles.net/uloel-design/225122-charlotte/rel=1G2Eua
        p For more awsome font, please visit
          br
          a https://fontbundles.net/uloel-design/rel=1G2Eua
        p If you have a question, email me at <a href='mailto:uloel.portnoy@gmail.com'>uloel.portnoy@gmail.com</a>
        p Thanks you.

      div.font-style
        ul.font-style__list
          li.font-style__el
            span.font-style__name Champagne & Limousines Regular | Sans serif | Champagne & Limousines.ttf
            img(src=require('../../media/s1.png')).font-style__img
          li.font-style__el
            span.font-style__name Champagne & Limousines Regular | Sans serif | Champagne & Limousines.ttf
            img(src=require('../../media/i.png')).font-style__img
          li.font-style__el
            span.font-style__name Champagne & Limousines Regular | Sans serif | Champagne & Limousines.ttf
            img(src=require('../../media/b.png')).font-style__img
          li.font-style__el
            span.font-style__name Champagne & Limousines Regular | Sans serif | Champagne & Limousines.ttf
            img(src=require('../../media/bi.png')).font-style__img

      div.character-map
        span.character-map__title Character Map
        img(src=require('../../media/Euro-background.png')).character-map__img

      div.table-wrap
        span.table-wrap__title File Contents
        table.table
          thead
            tr
              th filename
              th filesize
              th type
              th options
          tbody
            tr
              td Champagne & Limousines Italic.ttf
              td 107 KB
              td Font File
              td <a>download</a>
            tr
              td Champagne & Limousines Italic.ttf
              td 107 KB
              td Font File
              td <a>download</a>
            tr
              td Champagne & Limousines Italic.ttf
              td 107 KB
              td Font File
              td <a>download</a>
            tr
              td Champagne & Limousines Italic.ttf
              td 107 KB
              td Font File
              td <a>download</a>

      div.table-wrap
        span.table-wrap__title Font Details
        table.table.without-head
          tbody
            tr
              td Designer Name:
              td
                a(href='#') Lauren Thompson
            tr
              td Font License:
              td Free for Personal Use
            tr
              td Website:
              td
                a(href='#') http://www.nymfont.com

      div.banner
        a(href='#').banner__link
          img(src=require('../../media/banner3.png')).banner__img
